<div class="wrapper col-md-16">

    <nav id="sidebar">
        <div id="sideMenu">
            <span class="logo">
                <img src="../assets/images/wombat.svg" width="50" height="50" class="d-inline-block" alt="" style=" padding-top: -15px;">
                <h1 class="title">ChatWombat</h1>
            </span>

            <app-menu></app-menu>
        </div>
    </nav>
    <div id="content">
        <app-chat></app-chat>
        <div class="box-footer">
            <form action="#" method="post">
                <div class="input-group"> <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-btn"> 
                        <button type="button" class="btn btn-primary btn-flat">Send</button> 
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<router-outlet></router-outlet>